.game-header {
  margin: auto;
  text-align: center;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5em;
}

.board {
  width: 700px;
  height: 600px;
  background-color: blue;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  background-color: #fff;
  width: 95px;
  height: 95px;
  margin: 2.5px;
  border-radius: 50%;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  margin: 40px;
}
